<div class="sidebar">
        <div class="item" (click)="itemClicked = !itemClicked" [ngClass]="{'item-clicked': itemClicked}">
            <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                <link rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
            <li href="#">Dashboard</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">
                contract_edit
            </span>
            <li href="#">Interactions</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">
                groups
            </span>
            <li href="#">Clients</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">
                description
            </span>
            <li href="#">Documents</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">
                key_visualizer
            </span>
            <li href="#">Flow Builder</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">
                memory
            </span>
            <li href="#">Digital Service</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">
                settings
            </span>
            <li href="#">Settings</li>
        </div>
</div>