<app-header (sidebar)="sidebarOnEmit($event)"></app-header>
<mat-sidenav-container >
    <mat-sidenav mode="side" [(opened)]="sidebar">
        <mat-nav-list>
            <mat-list-item (click)="itemClicked = !itemClicked" [ngClass]="{'mat-list-item-clicked': itemClicked}">
                <mat-icon>
                    <link rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                    <link rel="stylesheet"
                        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                </mat-icon>
                <a>Dashboard</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        contract_edit
                    </span>
                </mat-icon>
                <a>Interactions</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        groups
                    </span>
                </mat-icon>
                <a>Clients</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        description
                    </span>
                </mat-icon>
                <a>Documents</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        key_visualizer
                    </span>
                </mat-icon>
                <a>Flow Builder</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        memory
                    </span>
                </mat-icon>
                <a>Digital Service</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                </mat-icon>
                <a>Settings</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>

