<app-header (sidebar)="sidebarOnEmit($event)"></app-header>
<mat-sidenav-container >
    <mat-sidenav mode="side" [(opened)]="sidebar">
        <mat-nav-list>
            <mat-list-item *ngFor="let title of menulist" routerLink="{{ title.route }}" routerLinkActive="item-clicked">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        {{ title.icon }}
                    </span>
                </mat-icon>
                <a>{{ title.text }}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

