:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav {
    width: 15%;
}

mat-sidenav-container {
    height: 100%;
}

mat-list-item {
    display: flex;
    align-items:center;
    font-family: sans-serif;
    margin: 10px 0px;
}

mat-icon{
    margin:0 5px;
}