/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0px;
}

.item-clicked{
    align-items: center;
    font-family: sans-serif;
    color: gold;
}